h1, h2, p, h3  {
  font-family: Arial, sans-serif;
  color: #49404a
}
p {
  font-size: 16px;
  color:rgb(99, 93, 96)
}

li {
  color: #7d6a80;
}

#name {
  /* white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(8),
          blink 1s steps(8);
  border-right: 3px solid #a99aab; */

  font-family: Tahoma, sans-serif; 
  font-size: 80px; 
  text-align: justify; 
  color: white; 
  margin-bottom: 0; 
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes blink {
  from {
    border-color: #7d6a80;
  }
  to {
    border-color: transparent;
  }
}
#home-left {
  flex: left; 
  padding: 0 2% 0 6%;
  /* background-color: #ddd3df ;
  border-radius: 2em;
  margin-top: 2em;
  margin-left: -2em;
  height: fit-content;
  box-shadow: 3px 6px 10px #cbbecd; */
}

#links {
  margin-top: 2em;
  height: fit-content;
  display: flex;
  margin-bottom: 3em;
}

.buttonlink {
  background-color: #7d6a80;
  padding: 0.4em 1em 0.5em 1em;
  border-radius: 2em;
  margin-right: 0.5em;
  
  color: white;
  font-family: Tahoma;
  font-weight: bold; 
  font-size: 18px;
  text-decoration: none;
}

#ghostgithub, #nutcrackergithub {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
}

.buttonlink:hover {
  background-color: #908292;
}

.logolink {
  background-color: transparent;
  border: none;
  padding: 0.5em 0.4em 0.3em 0.4em ;
  border-radius: 0.3em;
  text-decoration: none;
}
.logolink:hover{
  background-color: #e6dfe8;
}

/* #github {
  padding: 0.45em 0.5em 0.4em 0.55em;
} */

/******* MEDIA ********/
.anim-project {
  padding: 80px;
  padding-top: 0px;
  padding-right: 0px;
  overflow:auto; /*encompass video and text*/
}
video {
  width: 60%;
  border-radius: 20px;
  float: left;
}
.anim-description {
  width: 30%;
  float: left;
  padding-left: 50px;
}

.code-project {
  margin: 2em 6em 2em 6em;
  padding: 2em 3em 2em 3em;
  border-radius: 2em;
  overflow:auto; /*encompass video and text*/
  background-color: #f2eff9;
}

.code-description {
  width: 45%;
  float: left;
  padding-right: 2em;
}

#styletransfervideo {
  width: 50%; 
  float: right;
}

.code-project-mini-wrapper {
  display: flex;
  margin: 2em 6em 2em 6em;
}
.code-project-mini {
  padding: 2em 3em 2em 3em;
  border-radius: 2em;
  overflow:auto; /*encompass video and text*/
  background-color: #f2eff9;
  flex: left;
  width: 50%;
}

#shreddify {
  margin-right: 2em;
}

#ghostplaypic, #nutcrackerplaypic {
  width: 50%;
}

#artstation {
  margin-top: 2em;
}

#artstationlink {
  margin-bottom: 2em;
}

/******* MENU ********/

/* Style the tab */
.tab {
  overflow: hidden;
  width: 100%;
  margin-top: 1em;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 6px;
  transition: 0.3s;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 3px 6px;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


.tab ul { 
  margin: 0 auto; 
  padding: 0; 
  list-style: none; 
  display: table;
  margin-right: 4em;
}
.tab li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}

.tab a {
  color: #7d6a80;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  font-family: Arial, sans-serif;
}

.tab a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #7d6a80;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.tab a:hover:after { 
  width: 100%; 
  left: 0; 
}